<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MercadoLiebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <section class="section_header">
                <img src="\images\logo-mercado-liebre.svg" alt="logo">
                <div class="cont_busqueda">
                <form action="" class="busqueda">
                    <input type="text" id="mySearch" name="q" placeholder="Buscar" class="input_busqueda" >
                    <button class="boton_busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                </div>
                <div class="cont_comprarcuotas"><p class="p_comprarcuotas"> <i class="fa-solid fa-hand-holding-dollar izquierda"></i> comprar en cuotas y sin tarjeta de credito</p></div> <br>
            </section>
            <br>
            
            <nav class="main_nav ">
                <ul class="rigth_nav">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            
                <ul class="left_nav">
                    <li><a href="/register">crea tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">ingresa</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
            
    
            <div class="div-contenedor">
                <div class="burger-menu menuhamburguesaoff">
                    <i class="fas fa-bars"></i>
                </div>
            </div><br>
            
        </header>
        
        <main class="cont_form">

            <form action="/" method="GET" class="form_reg">

                <div>
                    <input type="text" name="name" placeholder="Nombre y apellido" class="margin">
                    <input type="text" name="user" placeholder="Nombre de usuario" class="margin">
                    <input type="email" name="email" placeholder="E-mail" class="margin">
                </div>
        
                <label for="F_nacimiento"><h4>Fecha de Nacimiento</h4></label>
            
                <input type="date" name="F_nacimiento" id="F_nacimiento" class="margin">
                
                <input type="text" name="addres" placeholder="Domicilio" class="margin">


                <h4>Perfil de usuario</h4>
                <div class="perfil_usuario">
                    <input type="radio" name="profile" value="buy" id="comprador" class="input_option">
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="vendedor" class="input_option">
                    <label for="vendedor">Vendedor</label>
                </div>


                <h4>Intereses</h4>
                <div class="intereses">

                    <div>
                        <input type="checkbox" name="interests" value="a" id="o1" >
                        <label for="o1">Electro</label>
                    </div>

                    <div>
                        <input type="checkbox" name="interests" value="b" id="o2">
                        <label for="o2">Moda</label>
                    </div>

                    <div>
                        <input type="checkbox" name="interests" value="c" id="o3">
                        <label for="o3">Hogar</label>
                    </div>

                    <div>
                        <input type="checkbox" name="interests" value="d" id="o4">
                        <label for="o4">Juguetería</label>
                    </div>

                    <div>
                        <input type="checkbox" name="interests" value="e" id="o5">
                        <label for="o5">Vida sana</label>
                    </div>

                </div>
                

                <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="Foto_usuarior">
                

                <input type="password" name="contraseña" placeholder="Elegí tu contraseña" class="margin">
                <input type="password" name="contraseña" placeholder="Confirmá tu contraseña "class="margin">
                

                <button type="submit" value="Enviar" class="boton_registro">Enviar</button>
                <button type="reset" value="Borrar" class="boton_registro">Borrar</button>
                

            </form>

        </main>

        <footer><br>

            <div class="cont_footer">

            <div class="secfooter">   
                <section>
                    <br>
                    <div class="div-contenedor">
                        <i class="fa-solid fa-credit-card fcolor"></i>
                    </div>
                </section>

                <section class="opacidad">
                    <h3 >Pagá con tarjeta o en efectivo</h3>
                    <p >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p><br>
                </section>
            </div> 
            
            <div class="secfooter">

                <section>
                    <br>
                    <div class="div-contenedor">
                        <i class="fa-solid fa-gift fcolor"></i>
                    </div> 
                </section>

                <section class="opacidad">
                <h3 >Envío gratis desde $ 2.500</h3>
                <p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p><br>
                </section>
            </div>
            
            <div class="secfooter">

                <section>
                    <br>
                    <div class="div-contenedor">
                        <i class="fa-solid fa-user-shield fcolor"></i>
                    </div>
                </section>

                <section class="opacidad">
                        <h3 >Seguridad, de principio a fin</h3>
                        <p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p><br>
                </section>

            </div>

            </div>

            <section>
                <p >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>

    </body>
</html>